n8n/RAG_split.json
{
  "name": "RAG split",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -64
      ],
      "id": "51623229-b85e-4488-a332-04e8b54f57c4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/**/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -64
      ],
      "id": "013fd2d8-5298-433a-a03b-70a7b1fad76f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "both"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        -64
      ],
      "id": "b924bb5f-008b-4d74-a0d9-faa265e6c91d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "qdrant_db",
          "mode": "id"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        192,
        -64
      ],
      "id": "d23b6fdd-68b8-4fd1-95b1-c135ca0be0ab",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "0C4f9btJxCbAf3Gi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        128,
        144
      ],
      "id": "88cecb63-b43d-4f71-8f35-0448e7c76f17",
      "name": "Embeddings Ollama",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "ollamaApi": {
          "id": "wunuQpPYtsUzh5DJ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ (($('Extract from File').item.json.data || '').toString()).replace(/\\\\n/g, '\\n').replace(/\\r\\n/g, '\\n') }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name",
                "value": "={{ $('Extract from File').item.json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        144
      ],
      "id": "0070dd79-8960-45fe-b153-b71ef4858ca1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "\\n",
        "chunkSize": 120,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        336,
        256
      ],
      "id": "ac274cd3-ee64-4496-a760-3d68f2745674",
      "name": "Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fa1037d7-f597-4ec0-bd34-82da179a02ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c1724cdd27f98760a1224a45cc5428e4736552ed282ef53e5c97aca475bfaba"
  },
  "id": "J2dYgVT044X965tf",
  "tags": []
}